<h1>新建文章</h1>

<% form_for([:admin, @article]) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', admin_articles_path %></p>
