<div id ="article_orders"  class="widget">
  <div class="title">查看全部文章</div>
  <ul>
    <li><%= link_to '按发布时间', articles_path %></li>
    <li><%= link_to '按推荐次数', prime_articles_path %></li>
    <li><%= link_to '按回复数量', hot_articles_path %></li>
  </ul>
</div>
